body
{
  font-family: monospace;
  background-position: 15px;
  background-color: aqua;

}
h1
{
    text-align: center;
    text-decoration: underline;
    color: azure;
}
p
{
    color:blue ;
    font-size: large;
    
img
{
    border-radius: 15%;
}
header
{
    text-align: center;
    height: 50px;
    color: aquamarine;
    background-color: blue;
    font-size: xx-large;
}
/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: white;